<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isotope11.blogreader"
    android:versionCode="9"
    android:versionName="1.8" >

  <uses-sdk
      android:minSdkVersion="14"
      android:targetSdkVersion="17" />

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application
      android:allowBackup="true"
      android:icon="@drawable/i11_rings"
      android:label="@string/app_name"
      android:theme="@style/AppTheme" >
    <activity
        android:name="com.isotope11.blogreader.MainListActivity"
        android:label="@string/app_name" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name="com.isotope11.blogreader.BlogViewWebActivity"
        android:label="@string/title_activity_blog_view_web" >
    </activity>
    
  <receiver android:name="RecentBlogPostWidgetProvider" >
    <intent-filter>
      <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    </intent-filter>
    <meta-data android:name="android.appwidget.provider"
        android:resource="@xml/recent_blog_post_widget_provider" />
  </receiver>
  </application>

</manifest>
